.navbar-default{
    position: fixed;
    width: 100%;
    z-index: 999;    
}
.navbar{
    background-color: white;
    margin-bottom: 0;
    }

.navbar-brand img{
    margin-top: -10px;
    width: 75%;
    }
.navbar ul{
    float: right;}
.navbar li a{
    color: white;
}

.img-responsive{
    padding-top: 25px}
@media (min-width: 320px) and (max-width: 720px){

    .navbar ul{
        float: left;}
    
    input, textarea{
    width: 100%;
    }
    figure{
    margin: 0 20%}
    
}


.actualizacion{
    padding-top: 50px;
}

footer{
    padding:10px 40px 30px;
    background-color: #186eab;
}

.contact{
    margin-bottom: 70px;}

input, textarea{
    width: 60%;
    margin-bottom: 15px;
    float: left;
}



.container h1{
    text-align: center;
    padding-bottom: 50px;
}

.container h3, .container h5{
    padding: 20px 0;
    text-align: center;
}

.container h5{
    font-size: 1.5em}

.container h4{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 50px;
}
.cont-nos{
    padding: 50px 0
}

.box{
    margin-top: 20px;
    background-color: #94b83e;
}

img.historia{
    float: left;
    margin:0 20px 20px 0;}

.articles p a{
    text-align: center;
    color: #94b83e;
    font-size: 1.1em;
}
